---
const title = "Thumbnail with Hover";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title={title}>
  <p
    class="codepen"
    data-height="300"
    data-default-tab="html,result"
    data-slug-hash="emZKvmY"
    data-pen-title="Thumbnail with hover state"
    data-user="richhauck"
    style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
  >
    <span
      >See the Pen <a href="https://codepen.io/richhauck/pen/emZKvmY">
        Thumbnail with hover state</a
      > by Rich Hauck (<a href="https://codepen.io/richhauck">@richhauck</a>) on <a
        href="https://codepen.io">CodePen</a
      >.</span
    >
  </p>
  <script async src="https://public.codepenassets.com/embed/index.js"></script>

  <a
    class="button"
    href={`${import.meta.env.BASE_URL}examples/container/example.html`}
    >View Example</a
  >
</Layout>
