---
const title = "Exercises";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <ol>
    <li><a href="./01">Personal splash page on GitHub</a></li>
    <li><a href="./02">CSS Box model exercise</a></li>
    <li><a href="./03">Multi-column page layout</a></li>
    <li><a href="./04">Multi-page site</a></li>
    <li><a href="./05">Responsive page layout</a></li>
    <li><a href="./06">Responsive page layout with a framework</a></li>
  </ol>
</Layout>
