---
const title = "Exercises";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>

<h2>Responsive Page</h2>
<p>
  Create a responsive webpage. The topic of the content is up to you (and can be
  Lorem Ipsum if necessary). It should contain:
</p>
<ul>
  <li>A responsive navigation</li>
  <li>An image within the content area</li>
  <li>At least one media query</li>
  <li>A multi-column layout</li>
</ul>
<p>
  We will spend time next class working on this exercise. The final submission
  will be posted to your GitHub site. The expectation is a webpage that isn't
  entirely a fluid layout but one that adapts to the screen size and works
  between 320px to 1920px+ in width.
</p>

<aside>
  <ul>
    <li>
      <a
        href="https://www.figma.com/blog/creating-responsive-layout-templates-in-figma"
        >Responsive Layouts in Figma</a
      >
    </li>
    <li>
      <a href="https://www.w3schools.com/css/css3_mediaqueries.asp"
        >W3Schools article on media queries</a
      >
    </li>
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries"
        >MDN: Using Media Queries
      </a>
    </li>
    <li>
      <a href="https://css-tricks.com/a-complete-guide-to-css-media-queries/"
        >CSS Tricks: A Complete Guide to CSS Media Queries
      </a>
    </li>
  </ul>
</aside>

</Layout>
