---
const title = "Exercises";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <ol>
    <li><a href="exercises/01">Personal splash page on GitHub</a></li>
    <li><a href="exercises/02">CSS Box model exercise</a></li>
    <li><a href="exercises/03">Multi-column page layout</a></li>
    <li><a href="exercises/04">Multi-page site</a></li>
    <li><a href="exercises/05">Responsive page layout</a></li>
    <li><a href="exercises/06">Responsive page layout with a framework</a></li>
  </ol>
</Layout>
