---
const title = "Figma";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title={title}>
  <p>
    For design, we will use Figma.
    <a href="https://www.figma.com/education/"
      >Verify for an education license</a
    >.
  </p>
  <p>
    Below is a list of fundamentals skills for Figma. You should be exhibiting
    these in your work throughout this course.
  </p>
  <ul>
    <li>
      <a
        href="https://help.figma.com/hc/en-us/articles/360038511413-Set-custom-thumbnails-for-files"
        >Set custom thumbnails for files</a
      >
    </li>
    <li>
      <a
        href="https://help.figma.com/hc/en-us/articles/360038663154-Create-components-to-reuse-in-designs"
        >Create components to reuse in designs</a
      >
    </li>
    <li>
      <a
        href="https://help.figma.com/hc/en-us/articles/360039957034-Create-and-apply-text-styles"
        >Create and apply text styles</a
      >
    </li>
    <li>
      <a
        href="https://help.figma.com/hc/en-us/articles/360038746534-Create-color-text-effect-and-layout-guide-styles"
        >Create color, text, effect, and layout guide styles</a
      >
    </li>
  </ul>
</Layout>
