---
const title = "Getting Started";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title={title}>

<h2>Software</h2>
<p>
  For design, we will use Figma.
  <a href="https://www.figma.com/education/">Verify for an education license</a
  >.
</p>
<p>
  For our class, we will use
  <a href="https://code.visualstudio.com/"
    >Microsoft Visual Studio Code (VS Code)</a
  >
  as our text editor.
</p>
<p>
  You'll also need the
  <a
    href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer"
    >Live Server</a
  >
  extension, which automatically refreshes the browser whenever we save our
  files in VS Code.
</p>
<p>
  Lastly, you'll want to use
  <a
    href="https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode"
    >Prettier</a
  >
  and configure it to
  <a
    href="https://www.freecodecamp.org/news/how-to-use-prettier-in-visual-studio-code/"
    >format your files upon save</a
  >.
</p>
<hr />
<h2>Browser Inspectors</h2>
<p>
  Familiarize yourself with browser inspectors, as these tools will prove
  essential in writing and troubleshooting your code.
</p>
<ul>
  <li>
    <a href="https://developer.mozilla.org/en-US/docs/Tools/Page_Inspector"
      >Firefox Page Inspector</a
    >
  </li>
  <li><a href="https://developer.chrome.com/devtools">Chrome Dev Tools</a></li>
  <li>
    <a href="https://developer.apple.com/safari/tools/"
      >Safari Developer Tools</a
    >
  </li>
</ul>
<hr />
<h2>Github</h2>
<p>
  Lastly, you'll want to create a free personal
  <a href="https://github.com/">GitHub</a> account. You'll probably want to
  download <a href="https://desktop.github.com/">GitHub Desktop</a> as you'll
  use it to set up your <a href="https://pages.github.com/">GitHub pages</a>.
</p>

</Layout>
