---
const title = "Schedule";
import Layout from "../layouts/Layout.astro";
---

<Layout title={title}>
  <p>
    Any changes to the schedule will be announced in class and reflected on D2L.
  </p>
  <table>
    <tr>
      <td>
        <p><strong>Date</strong></p>
      </td>
      <td>
        <p><strong>Lesson Topics</strong></p>
      </td>
      <td>
        <p><strong>Assignment Due</strong></p>
      </td>
    </tr>
    <tr>
      <td><p>8/25</p></td>
      <td><p>Class Intro, syllabus review</p></td>
      <td><p>Register for GitHub and Figma, Install software</p></td>
    </tr>
    <tr>
      <td><p>8/27</p></td>
      <td><p>Intro to HTML</p></td>
      <td><p>Project 1 research</p></td>
    </tr>
    <tr>
      <td><p>9/1</p></td>
      <td><p>Labor Day – No Class</p></td>
      <td></td>
    </tr>
    <tr>
      <td><p>9/3</p></td>
      <td>
        <p>
          Intro to CSS – styles, colors, fonts<br />
          Working with images and media – iFrames, Audio, WebP, SVGs, icons
        </p>
      </td>
      <td>
        <p>
          Project 1 palette, personas<br />
          Exercise 1
        </p>
      </td>
    </tr>
    <tr>
      <td><p>9/8</p></td>
      <td>
        <p>Layouts in CSS: flexbox, grid, positioning, Figma components</p>
      </td>
      <td><p>Project 1 wireframe, Exercise 2</p></td>
    </tr>
    <tr>
      <td><p>9/10</p></td>
      <td><p>Layouts in CSS</p></td>
      <td><p>Exercise 3</p></td>
    </tr>
    <tr>
      <td><p>9/15</p></td>
      <td><p>Critique</p></td>
      <td><p>Project 1 design</p></td>
    </tr>
    <tr>
      <td><p>9/17</p></td>
      <td><p>HTML Layouts</p></td>
      <td><p>Exercise 4</p></td>
    </tr>
    <tr>
      <td><p>9/22</p></td>
      <td><p>Work in class</p></td>
      <td><p>Project 1 HTML template</p></td>
    </tr>
    <tr>
      <td><p>9/24</p></td>
      <td><p>Critique</p></td>
      <td>
        <p><strong>Project 1</strong></p>
      </td>
    </tr>
    <tr>
      <td><p>9/29</p></td>
      <td><p>Navigation, working with multiple pages</p></td>
      <td><p>Project 2 research and sitemap</p></td>
    </tr>
    <tr>
      <td><p>10/1</p></td>
      <td><p>Responsive design</p></td>
      <td>
        <p>Project 2 wireframe <br /></p>
      </td>
    </tr>
    <tr>
      <td><p>10/6</p></td>
      <td><p>Responsive design</p></td>
      <td><p>Exercise 5</p></td>
    </tr>
    <tr>
      <td><p>10/8</p></td>
      <td><p>Critique</p></td>
      <td><p>Project 2 design</p></td>
    </tr>
    <tr>
      <td><p>10/13</p></td>
      <td><p>Fall Break</p></td>
      <td></td>
    </tr>
    <tr>
      <td><p>10/15</p></td>
      <td><p>Work in class</p></td>
      <td><p>Project 2 HTML template</p></td>
    </tr>
    <tr>
      <td><p>10/20</p></td>
      <td><p>Critique</p></td>
      <td>
        <p><strong>Project 2</strong><strong> </strong></p>
      </td>
    </tr>
    <tr>
      <td><p>10/22</p></td>
      <td><p>Frameworks</p></td>
      <td><p>Project 3 research and sitemap</p></td>
    </tr>
    <tr>
      <td><p>10/27</p></td>
      <td><p>Frameworks</p></td>
      <td><p>Project 3 wireframe</p></td>
    </tr>
    <tr>
      <td><p>10/29</p></td>
      <td><p>Frameworks</p></td>
      <td><p>Exercise 6</p></td>
    </tr>
    <tr>
      <td><p>11/3</p></td>
      <td><p>Critique</p></td>
      <td><p>Project 3 design</p></td>
    </tr>
    <tr>
      <td><p>11/5</p></td>
      <td><p>Work in class</p></td>
      <td><p>Project 3 HTML template</p></td>
    </tr>
    <tr>
      <td><p>11/10</p></td>
      <td><p>Critique</p></td>
      <td>
        <p><strong>Project 3</strong></p>
      </td>
    </tr>
    <tr>
      <td><p>11/12</p></td>
      <td><p>Critique</p></td>
      <td><p>Project 4 sitemap, mood boards</p></td>
    </tr>
    <tr>
      <td><p>11/17</p></td>
      <td><p>SEO</p></td>
      <td><p>Project 4 wireframe</p></td>
    </tr>
    <tr>
      <td><p>11/19</p></td>
      <td><p>Intro to JavaScript, SPAs and PWAs</p></td>
      <td><p>Project 4 branding</p></td>
    </tr>
    <tr>
      <td><p>11/24</p></td>
      <td><p>Critique</p></td>
      <td><p>Project 4 design</p></td>
    </tr>
    <tr>
      <td><p>11/26</p></td>
      <td><p>Thanksgiving Break – NO CLASS</p></td>
      <td></td>
    </tr>
    <tr>
      <td><p>12/1</p></td>
      <td><p>WordPress and Content Management Systems</p></td>
      <td></td>
    </tr>
    <tr>
      <td><p>12/3</p></td>
      <td><p>Work in class</p></td>
      <td></td>
    </tr>
    <tr>
      <td><p>12/8-12/10 (TBD)</p></td>
      <td><p>Critique</p></td>
      <td>
        <p><strong>Project 4</strong></p>
      </td>
    </tr>
  </table>
</Layout>
