---
const title = "Schedule";
import Layout from "../layouts/Layout.astro";
---

<Layout title={title}>
  <p>
    Any changes to the schedule will be announced in class and reflected on D2L.
  </p>
  <table>
    <tr>
      <td>
        <p><strong>Date</strong></p>
      </td>
      <td>
        <p><strong>Lesson Topics</strong></p>
      </td>
      <td>
        <p><strong>Exercise Due</strong></p>
      </td>
      <td>
        <p><strong>Assignment Due</strong></p>
      </td>
    </tr>
    <tr>
      <td><p>1/22</p></td>
      <td>Syllabus review, class intro</td>
      <td>&nbsp;</td>
      <td>Software installs, permissions form</td>
    </tr>
    <tr>
      <td><p>1/27</p></td>
      <td>
        Intro to JavaScript<br />
        MAMP and PHP
      </td>
      <td>&nbsp;</td>
      <td>
        Domain name, <br />
        Project 1 research + sitemap
      </td>
    </tr>
    <tr>
      <td><p>1/29</p></td>
      <td>Connect via FTP</td>
      <td>1: Hello World</td>
      <td>Domain name, hosting acquired</td>
    </tr>
    <tr>
      <td><p>2/3</p></td>
      <td>JavaScript, working with forms</td>
      <td>2: PHP File Includes</td>
      <td>Project 1 content + wireframe</td>
    </tr>
    <tr>
      <td><p>2/5</p></td>
      <td>Critique</td>
      <td>&nbsp;</td>
      <td>Project 1 design</td>
    </tr>
    <tr>
      <td><p>2/10</p></td>
      <td>Conditional Statements and Loops</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2/12</td>
      <td></td>
      <td>
        3: Forms and variables<br />4: Conditional Statements, Arrays and Loops
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>2/17</td>
      <td>Work day</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2/19</td>
      <td>Critique</td>
      <td>&nbsp;</td>
      <td>
        <strong>Project 1</strong><br />
        Project 2 research + sitemap
      </td>
    </tr>
    <tr>
      <td>2/24</td>
      <td>Functions and Event Handling</td>
      <td></td>
      <td>Project 2 content + wireframe</td>
    </tr>
    <tr>
      <td>2/26</td>
      <td>Critique</td>
      <td><p>&nbsp;</p></td>
      <td>Project 2 design</td>
    </tr>
    <tr>
      <td>3/3</td>
      <td>Static site generator – Astro</td>
      <td><p>5: Functions and Event Handling</p></td>
      <td></td>
    </tr>
    <tr>
      <td>3/5</td>
      <td>Static site generator – Astro</td>
      <td><p>6: Astro Site</p></td>
      <td>Project 2 template</td>
    </tr>
    <tr>
      <td>3/10</td>
      <td colspan="3" valign="top">
        <p><strong>NO CLASS - SPRING BREAK</strong></p>
      </td>
    </tr>
    <tr>
      <td>3/12</td>
      <td colspan="3" valign="top">
        <p><strong>NO CLASS - SPRING BREAK</strong></p>
      </td>
    </tr>
    <tr>
      <td>3/17</td>
      <td>Work day</td>
      <td>&nbsp;</td>
      <td></td>
    </tr>
    <tr>
      <td>3/19</td>
      <td>Critique</td>
      <td>&nbsp;</td>
      <td><strong>Project 2</strong></td>
    </tr>
    <tr>
      <td>3/24</td>
      <td>CSS Animation</td>
      <td>&nbsp;</td>
      <td>Project 3 research + sitemap</td>
    </tr>
    <tr>
      <td>3/26</td>
      <td>WordPress – Local setup</td>
      <td>7: CSS Animation</td>
      <td>Project 3 content + wireframe</td>
    </tr>
    <tr>
      <td>3/31</td>
      <td>WordPress – posts, pages, users, navigation</td>
      <td>8: WordPress Local site</td>
      <td></td>
    </tr>
    <tr>
      <td>4/2</td>
      <td>Critique</td>
      <td>&nbsp;</td>
      <td>Project 3 design</td>
    </tr>
    <tr>
      <td>4/7</td>
      <td>WordPress</td>
      <td>9: WordPress site</td>
      <td></td>
    </tr>
    <tr>
      <td>4/9</td>
      <td>Work day</td>
      <td>&nbsp;</td>
      <td>Project 3 template</td>
    </tr>
    <tr>
      <td>4/14</td>
      <td>Critique</td>
      <td>&nbsp;</td>
      <td><strong>Project 3</strong></td>
    </tr>
    <tr>
      <td>4/16</td>
      <td>Business of Design</td>
      <td>&nbsp;</td>
      <td>Project 4 research + sitemap</td>
    </tr>
    <tr>
      <td>4/21</td>
      <td>CSS Grid layout</td>
      <td>&nbsp;</td>
      <td>Project 4 content</td>
    </tr>
    <tr>
      <td>4/23</td>
      <td>Working with APIs for data</td>
      <td>&nbsp;</td>
      <td>Project 4 wireframe</td>
    </tr>
    <tr>
      <td>4/28</td>
      <td>Critique</td>
      <td>10: API integration</td>
      <td>Project 4 design</td>
    </tr>
    <tr>
      <td>4/30</td>
      <td>Critique</td>
      <td>&nbsp;</td>
      <td>Project 4 design revisions</td>
    </tr>
    <tr>
      <td>5/5</td>
      <td>Work day</td>
      <td>&nbsp;</td>
      <td>Project 4 template</td>
    </tr>
    <tr>
      <td><p>5/7 5-7 p.m.</p></td>
      <td>Critique</td>
      <td>&nbsp;</td>
      <td>
        <p><strong>Project 4</strong></p>
      </td>
    </tr>
  </table>
</Layout>
