---
const title = "Frameworks";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <p>
    Frameworks are collections of pre-written code that help build websites and
    applications faster instead of starting from scratch. Think of them as
    starter kits that provide structure, reusable components, and tools to
    streamline your development process. Frameworks often include CSS,
    Javascript, HTML, and sometimes even backend code.
  </p>
  <p>
    Many frameworks are built by large corporations to help their teams by using
    the same code and vocabulary. Their products often open-sourced to benefit
    the wider community.
  </p>
  <p>
    With so many frameworks available, how do you choose? Often, the decision is
    based on your team's expertise and the project needs. To get a sense of the
    most popular frameworks, check out the
    <a href="https://2024.stateofcss.com/en-US/tools/">State of CSS</a> survey.
  </p>
  <p>
    The W3C has a working group, <a href="https://open-ui.org/">Open-UI</a>,
    that often considers incorporating components directly into the HTML
    language.
  </p>

  <h2>Tools</h2>

  <ul>
    <li>
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties"
        >Custom CSS Properties (MDN)</a
      >
    </li>
    <li><a href="https://lesscss.org/">LESS</a></li>
    <li><a href="https://sass-lang.com">SASS</a></li>
    <li><a href="https://postcss.org/">PostCSS</a></li>
  </ul>
  <h2>Frameworks</h2>
  <ul>
    <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
    <li><a href="https://materializecss.com/">Materialize CSS</a></li>
    <li><a href="https://tailwindcss.com/">Tailwind CSS</a></li>
    <li><a href="https://open-props.style">Open Props</a></li>
    <li>
      <a href="https://opensource.adobe.com/spectrum-css/"> Spectrum (Adobe)</a>
    </li>
    <li><a href="https://fluent2.microsoft.design/">Fluent (Microsoft)</a></li>
    <li>
      <a href="https://designsystem.digital.gov/">U.S. Web Design System</a>
    </li>
    <li><a href="https://primer.style/">Primer (GitHub)</a></li>
    <li><a href="https://chakra-ui.com/">Chakra UI</a></li>
    <li><a href="https://getuikit.com/">UIkit</a></li>
    <li><a href="https://bulma.io/">Bulma</a></li>
    <li><a href="https://foundation.zurb.com/">Foundation</a></li>
    <li><a href="https://neumorphism.io/#55b9f3">Neumorphism.io</a></li>
    <li>
      <a href="https://www.carbondesignsystem.com/">Carbon Design System</a>
    </li>
    <li>
      <a href="https://www.lightningdesignsystem.com/"
        >Lightning Design System</a
      >
    </li>
    <li><a href="https://clayui.com/">Clay (Liferay)</a></li>
    <li><a href="https://www.patternfly.org/">PatternFly</a></li>
    <li><a href="https://www.atlassian.design/">Atlassian Design</a></li>
    <li><a href="https://gestaltit.github.io/">Gestalt (Pinterest)</a></li>
    <li><a href="https://evergreen.segment.com/">Evergreen (Segment)</a></li>
    <li><a href="https://grommet.io/">Grommet</a></li>
    <li><a href="https://www.clarity.design/">Clarity (VMware)</a></li>
    <li><a href="https://www.circuit-ui.com/">Circuit UI (Microsoft)</a></li>
    <li><a href="https://www.elastic.co/elastic-ui">Elastic UI</a></li>
    <li>
      <a href="https://www.lightningdesignsystem.com/"
        >Lightning Design System</a
      >
    </li>
    <li><a href="https://clayui.com/">Clay (Liferay)</a></li>
    <li><a href="https://www.patternfly.org/">PatternFly</a></li>
    <li><a href="https://www.atlassian.design/">Atlassian Design</a></li>
    <li><a href="https://gestaltit.github.io/">Gestalt (Pinterest)</a></li>
    <li><a href="https://evergreen.segment.com/">Evergreen (Segment)</a></li>
    <li><a href="https://grommet.io/">Grommet</a></li>
    <li><a href="https://www.clarity.design/">Clarity (VMware)</a></li>
    <li><a href="https://www.circuit-ui.com/">Circuit UI (Microsoft)</a></li>
    <li><a href="https://www.elastic.co/elastic-ui">Elastic UI</a></li>
    <li><a href="https://mui.com/">MUI</a></li>
    <li><a href="https://ant.design/">Ant Design</a></li>
    <li><a href="https://react.semantic-ui.com/">Semantic UI React</a></li>
    <li><a href="https://react-bootstrap.github.io/">React Bootstrap</a></li>
    <li><a href="https://chakra-ui.com/">Chakra UI</a></li>
    <li><a href="https://vuejs.org/">Vue.js</a></li>
    <li><a href="https://nuxtjs.org/">Nuxt.js</a></li>
    <li><a href="https://quasar.dev/">Quasar</a></li>
    <li><a href="https://element.element-plus.org/">Element Plus</a></li>
    <li><a href="https://sveltesociety.dev/">Svelte Society</a></li>
    <li><a href="https://svelte.dev/">Svelte</a></li>
    <li><a href="https://astro.build/">Astro</a></li>
    <li><a href="https://www.gatsbyjs.com/">Gatsby</a></li>
    <li><a href="https://nextjs.org/">Next.js</a></li>
    <li><a href="https://remix.run/">Remix</a></li>
    <li><a href="https://blitzjs.com/">Blitz.js</a></li>
    <li><a href="https://redwoodjs.com/">RedwoodJS</a></li>
  </ul>
  <h2>Other Links</h2>
  <ul>
    <li>
      <strong>Web Components</strong>
      <ul>
        <li>
          <a href="https://github.com/web-padawan/awesome-web-components"
            >List on Web Components</a
          >
        </li>
      </ul>
    </li>
  </ul>
</Layout>
