---
const title = "Style Guides, Pattern Libraries, and Frameworks";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <ul>
    <li>
      <a
        href="https://bradfrost.com/blog/post/style-guide-driven-design-systems/"
        >Style guide-driven design systems</a
      >
    </li>
    <li><a href="https://atomicdesign.bradfrost.com/">Atomic Design</a></li>
  </ul>

  <h2>Style Guides</h2>
  <ul>
    <li><a href="http://styleguides.io/examples">Style Guide Examples</a></li>
    <li>
      <a href="https://hugeinc.github.io/styleguide/">Huge Style Guide</a>
    </li>
    <li><a href="https://github.com/fbrctr/fbrctr.github.io">Fabricator</a></li>
    <li>
      <a href="https://github.com/bradfrost/style-guide-guide"
        >Style Guide Guide</a
      >
    </li>
  </ul>

  <h2>Pattern Libraries</h2>
  <ul>
    <li><a href="https://ux.mailchimp.com">Mailchimp</a></li>
    <li><a href="https://www.yelp.com/styleguide">Yelp</a></li>
    <li>
      <a href="https://www.starbucks.com/developer/pattern-library">Starbucks</a
      >
    </li>
    <li><a href="http://styleguides.io/">StyleGuides.io</a></li>
  </ul>

  <h2>Frameworks</h2>
  <ul>
    <li>
      <a href="https://2019.stateofcss.com/technologies/#tools-overview"
        >2019 State of CSS Overview</a
      >
    </li>
    <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
    <li><a href="https://foundation.zurb.com/">Foundation</a></li>
    <li><a href="http://tachyons.io/">Tachyons</a></li>
    <li><a href="https://standards.usa.gov/">U.S. Web Design Standards</a></li>
  </ul>
</Layout>
