---
const title = "Wireframes";
import Layout from "../../layouts/Layout.astro";
import { Lightbulb } from "@lucide/astro";
import wireframe from "../../assets/images/starting-a-project/wireframe.png";
---

<Layout title={title}>
  <p>
    Wireframes are an intermediary step between the sitemap and the visual
    design. During this stage, the information architecture of the page is being
    defined. The fidelity of the wireframe can be as simple as a sketch with
    content boxes, or be nearly as polished as a final design. Depending on the
    organization and scale of the project, this stage might be handled by a
    completely different person than the visual designer.
  </p>
  <p>
    <em><b>A rough example:</b></em>
  </p>
  <img src={wireframe.src} alt="sample wireframe" />

  <aside>
    <h3><Lightbulb /> Tips when making wireframes:</h3>
    <ul>
      <li>
        Develop desktop and mobile wireframes side-by-side. Doing so will help
        you identify problem points between the different sizes and how to solve
        them.
      </li>
      <li>
        Use color sparingly, if at all. Even small splashes of colors will draw
        attention in a wireframe, and the emphasis here is to define the
        information hierarchy. Instead, use variations of gray and black, and
        consider converting colored assets (logos, etc.) in black and white.
      </li>
      <li>
        Stick to a plain font. Choosing fonts will become the responsibility of
        the visual designer.
      </li>
      <li>
        Don't place photographs. Images can change depending upon the page, and
        a wireframe should define the interface. Instead, use gray boxes, as a
        median value will best represent the range a photograph may display.
      </li>
      <li>Use consistent gutters, padding, and spacing.</li>
      <li>
        Instead of starting from scratch, consider wireframe libraries (see the
        Figma link below).
      </li>
    </ul>
  </aside>

  <div class="links">
    <h3>Links:</h3>
    <ul>
      <li>
        <a
          href="https://webdesign.tutsplus.com/articles/a-beginners-guide-to-wireframing--webdesign-7399"
          >A Beginner's Guide to Wireframing</a
        >
      </li>
      <li>
        <a
          href="https://www.figma.com/community/wireframes?resource_type=mixed&editor_type=all&price=all&sort_by=all_time&creators=all"
          >Figma Wireframe Libraries</a
        >
      </li>
      <li><a href="https://draw.io">Draw.io</a></li>
    </ul>
  </div>
</Layout>
