---
const title = "CSS Basics";
import Layout from "../../../layouts/Layout.astro";
import { Code } from "astro:components";
---

<Layout title={title}>
  <p>
    Cascading Style Sheets (CSS) is a language used to define the presentation
    and style of HTML.
  </p>
  <hr />
  <h2>Where CSS Resides</h2>
  <p>CSS can reside within three places:</p>
  <ol>
    <li>
      Inline via a style attribute:
      <Code
        code={`<h1 style="color: green">This is a styled header</h1>`}
        lang="html"
      />
    </li>
    <li>
      Within the page within a head tag:
      <Code
        code={`...
<head>
<style>
    h1{
        color: green;
    }
</style>
</head>
...`}
        lang="html"
      />
    </li>
    <li>
      Within the page within a head tag:
      <Code
        code={`...
<head>
    ...
    <link rel="stylesheet" href="style.css" />
</head>
...`}
        lang="html"
      />
    </li>
  </ol>
  <aside>
    In CSS, <strong>"the closest rule wins"</strong>, so the style definition
    closest to the markup is what rules.
  </aside>
  <hr />
  <h2>CSS Selectors</h2>
  <h3>HTML Selectors</h3>
  <p>
    You can use the HTML tag as the selector in your CSS rule. This will apply
    to all tags in the page.
  </p>

  <Code
    code={`<style>
    p{
        background-color: lightblue;
    }
</style>
...
<p>This is a paragraph</p>`}
    lang="html"
  />

  <h3>Class Attribute</h3>
  <p>
    When you need more specificity styling elements that might recur on the
    page.
  </p>

  <Code
    code={`<style>
  .my-style {
    background-color: lightblue;
  }
</style>
...
<p class="my-style">This will have a blue background.</p>
<p>This paragraph won't.</p>`}
    lang="html"
  />

  <h3>Id Attribute</h3>
  <p>Ids are unique to the page--they can only be used once.</p>

  <Code
    code={`<style>
  #my-style {
    background-color: lightblue;
  }
</style>
...
<p id="my-style">This is a paragraph</p>`}
    lang="html"
  />
  <hr />
  <h2>Complex Styles</h2>
  <p>
    CSS3 recently enabled nesting attributes. In the below example, any
    paragraph tag within a div with .my-style will have a padding of 1 rem.
  </p>

  <Code
    code={`<style>
  div.my-style {
    p {
      padding: 1rem;
    }
  }
</style>
...
<div class="my-style">
  <p>This is a paragraph</p>
  <p>This is a another paragraph</p>
</div>
<p>This is a paragraph</p>`}
    lang="html"
  />
  <hr />
  <h2>CSS custom properties</h2>
  <p>
    Unofficially known as CSS variables, this is a common technique to reuse
    values across your stylesheet .
  </p>

  <Code
    code={`<style>
  :root {
    --base-padding: 1em;
    --main-text-color: #333;
  }
  .subhead {
    color: var(--main-text-color);
    padding-left: var(--base-padding);
  }
  .subtext {
    color: var(--main-text-color);
    padding: 0 var(--base-padding);
  }
</style>
...
<h2 class="subhead">This is a subhead</h2>
<p class="subtext">This is subtext.</p>`}
    lang="html"
  />

  <aside class="links">
    <h3>Link:</h3>
    Check out
    <a
      href="https://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048"
      >The 30 CSS Selectors You Must Memorize</a
    >
  </aside>

  <h2>CSS Box Model</h2>
  <img
    src={`${import.meta.env.BASE_URL}images/box-model.png`}
    alt="CSS Box Model"
  />
  <br />
  <p>
    Note the calculated size in the browser will add up the margin, padding,
    border, and width/height. In the example below, the width and height will be
    350px, despite the width and height being set to 300px.
  </p>
  <p
    class="codepen"
    data-height="300"
    data-default-tab="html,result"
    data-slug-hash="yLjYzJe"
    data-user="richhauck"
    style="
    height: 300px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    margin: 1em 0;
    padding: 1em;
  "
  >
    <span
      >See the Pen
      <a href="https://codepen.io/richhauck/pen/yLjYzJe"> Box Model</a> by Rich Hauck
      (<a href="https://codepen.io/richhauck">@richhauck</a>) on
      <a href="https://codepen.io">CodePen</a>.</span
    >
  </p>
  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"
  ></script>
  <hr />
  <h2>Absolute Positioning</h2>
  <p
    class="codepen"
    data-height="300"
    data-default-tab="html,result"
    data-slug-hash="MWGaEmj"
    data-user="richhauck"
    style="
    height: 300px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    margin: 1em 0;
    padding: 1em;
  "
  >
    <span
      >See the Pen
      <a href="https://codepen.io/richhauck/pen/MWGaEmj">
        Absolute Positioning</a
      >
      by Rich Hauck (<a href="https://codepen.io/richhauck">@richhauck</a>) on
      <a href="https://codepen.io">CodePen</a>.</span
    >
  </p>
  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"
  ></script>

  <hr />
  <h2>Reset</h2>
  <p>
    Not all browsers render the same way which has made it a headache for web
    designers. The open source community has responded, and one way around this
    is by using CSS that helps override the default styling that comes with
    browsers.
  </p>
  <ul>
    <li>
      <a href="https://meyerweb.com/eric/tools/css/reset/">Reset CSS</a> - a tool
      created by Eric Meyer in 2007 to assist in making browsers behave the same.
    </li>
    <li>
      <a href="https://necolas.github.io/normalize.css/">Normalize.css</a> - in some
      ways a successor to Reset. Makes browser behaviors consistent.
    </li>
    <li>
      <a href="https://elad2412.github.io/the-new-css-reset/">New CSS Reset</a>
    </li>
  </ul>
  <hr />
  <h2>System Fonts</h2>
  <p>
    System fonts are fonts that are installed by default on the computer.
    Defining your website to use these fonts saves download time, as the user's
    computer doesn't need to download what's already installed on their machine.
  </p>
  <ul>
    <li>
      <a
        href="https://www.w3schools.com/cssref/css_websafe_fonts.asp"
        target="_blank">CSS Web Safe Font Combinations (W3Schools)</a
      >
    </li>
    <li>
      <a
        href="https://css-tricks.com/snippets/css/system-font-stack/"
        target="_blank">System font stack (CSS-Tricks)</a
      >
    </li>
  </ul>
</Layout>
