---
const title = "CSS Layouts";
import Layout from "../../../layouts/Layout.astro";
import { Lightbulb } from "@lucide/astro";
---

<Layout title={title}>
  <!--
<h2>z-Index</h2>
<p class="codepen" data-zoom="0.25"  data-zoom="0.25" data-height="300" data-default-tab="html,result" data-slug-hash="ZEqaoPp" data-user="richhauck" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/richhauck/pen/ZEqaoPp">
  z-index example</a> by Rich Hauck (<a href="https://codepen.io/richhauck">@richhauck</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
-->
  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"
  ></script>

  <h2>Flex</h2>
  <p>Simple example creating rows and columns.</p>
  <p
    class="codepen"
    data-zoom="0.25"
    data-height="300"
    data-default-tab="html,result"
    data-slug-hash="abGvVBQ"
    data-user="richhauck"
    style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
  >
    <span
      >See the Pen <a href="https://codepen.io/richhauck/pen/abGvVBQ">
        Flex Box Example</a
      > by Rich Hauck (<a href="https://codepen.io/richhauck">@richhauck</a>) on <a
        href="https://codepen.io">CodePen</a
      >.</span
    >
  </p>
  <br />
  <p>Example using flex-basis to create equally-sized columns.</p>
  <p
    class="codepen"
    data-zoom="0.25"
    data-height="300"
    data-default-tab="html,result"
    data-slug-hash="jOxwEEe"
    data-user="richhauck"
    style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
  >
    <span
      >See the Pen <a href="https://codepen.io/richhauck/pen/jOxwEEe">
        Equal Columns</a
      > by Rich Hauck (<a href="https://codepen.io/richhauck">@richhauck</a>) on <a
        href="https://codepen.io">CodePen</a
      >.</span
    >
  </p>
  <br />
  <p
    class="codepen"
    data-zoom="0.25"
    data-height="300"
    data-default-tab="html,result"
    data-slug-hash="poxdVXg"
    data-user="richhauck"
    style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
  >
    <span
      >See the Pen <a href="https://codepen.io/richhauck/pen/poxdVXg">
        Gallery using CSS Flex</a
      > by Rich Hauck (<a href="https://codepen.io/richhauck">@richhauck</a>) on <a
        href="https://codepen.io">CodePen</a
      >.</span
    >
  </p>

  <aside>
    <h3><Lightbulb /> Tips:</h3>
    <ul>
      <li>
        <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
          >CSS-Tricks: A Complete Guide to Flexbox</a
        >
        <li>
          <a href="https://www.w3schools.com/css/css3_flexbox.asp"
            >CSS Flexbox</a
          >
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox"
              >MDN Guide to Flexbox</a
            >
          </li>
        </li>
      </li>
    </ul>
  </aside>
  <h2>Grid</h2>
  <p
    class="codepen"
    data-zoom="0.25"
    data-height="300"
    data-default-tab="html,result"
    data-slug-hash="RwyWjGw"
    data-user="richhauck"
    style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
  >
    <span
      >See the Pen <a href="https://codepen.io/richhauck/pen/RwyWjGw">
        Grid Example</a
      > by Rich Hauck (<a href="https://codepen.io/richhauck">@richhauck</a>) on <a
        href="https://codepen.io">CodePen</a
      >.</span
    >
  </p>
  <br />
  <p
    class="codepen"
    data-zoom="0.25"
    data-height="300"
    data-default-tab="html,result"
    data-slug-hash="PoyOegL"
    data-user="richhauck"
    style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
  >
    <span
      >See the Pen <a href="https://codepen.io/richhauck/pen/PoyOegL">
        Gallery using CSS grid</a
      > by Rich Hauck (<a href="https://codepen.io/richhauck">@richhauck</a>) on <a
        href="https://codepen.io">CodePen</a
      >.</span
    >
  </p>

  <aside>
    <h3><Lightbulb /> Tips:</h3>
    <ul>
      <li>
        <a href="https://css-tricks.com/snippets/css/complete-guide-grid/"
          >CSS-Tricks: A Complete Guide to Grid</a
        >
        <li>
          <a href="https://www.w3schools.com/css/css3_flexbox.asp"
            >CSS Flexbox</a
          >
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids"
              >MDN Guide to Grid</a
            >
          </li>
        </li>
      </li>
    </ul>
  </aside>
  <h3>Float</h3>
  <p
    class="codepen"
    data-zoom="0.25"
    data-height="300"
    data-default-tab="html,result"
    data-slug-hash="NWMGwLa"
    data-user="richhauck"
    style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
  >
    <span
      >See the Pen <a href="https://codepen.io/richhauck/pen/NWMGwLa">
        Float Example</a
      > by Rich Hauck (<a href="https://codepen.io/richhauck">@richhauck</a>) on <a
        href="https://codepen.io">CodePen</a
      >.</span
    >
  </p>
</Layout>
