---
const title = "Grid";
import Layout from "../../../layouts/Layout.astro";
import { Lightbulb } from "@lucide/astro";
---

<Layout title={title}>
  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"
  ></script>
  <p
    class="codepen"
    data-zoom="0.25"
    data-height="300"
    data-default-tab="html,result"
    data-slug-hash="RwyWjGw"
    data-user="richhauck"
    style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
  >
    <span
      >See the Pen <a href="https://codepen.io/richhauck/pen/RwyWjGw">
        Grid Example</a
      > by Rich Hauck (<a href="https://codepen.io/richhauck">@richhauck</a>) on <a
        href="https://codepen.io">CodePen</a
      >.</span
    >
  </p>
  <br />
  <p
    class="codepen"
    data-zoom="0.25"
    data-height="300"
    data-default-tab="html,result"
    data-slug-hash="PoyOegL"
    data-user="richhauck"
    style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
  >
    <span
      >See the Pen <a href="https://codepen.io/richhauck/pen/PoyOegL">
        Gallery using CSS grid</a
      > by Rich Hauck (<a href="https://codepen.io/richhauck">@richhauck</a>) on <a
        href="https://codepen.io">CodePen</a
      >.</span
    >
  </p>

  <aside>
    <h3><Lightbulb /> Tips:</h3>
    <ul>
      <li>
        <a href="https://css-tricks.com/snippets/css/complete-guide-grid/"
          >CSS-Tricks: A Complete Guide to Grid</a
        >
        <li>
          <a href="https://www.w3schools.com/css/css3_flexbox.asp"
            >CSS Flexbox</a
          >
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids"
              >MDN Guide to Grid</a
            >
          </li>
        </li>
      </li>
    </ul>
  </aside>
</Layout>
