<footer id="primary-footer">
  <div class="row"><button id="top-button">Back to Top</button></div>
</footer>
<style>
  footer#primary-footer {
    display: block;
    background-color: red;
  }
</style>
