<nav id="primary-nav">
  <div id="inner-nav">
    <ul>
      <li><a href="/">Syllabus</a></li>
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="/projects">Projects</a>
      <ul>
        <li><a href="/projects/project-1">01</a></li>
        <li><a href="/projects/project-2">02</a></li>
        <li><a href="/projects/project-3">03</a></li>
        <li><a href="/projects/project-4">04</a></li>
      </ul>
      </li>
      <li><a href="/exercises">Exercises</a>
      <ul>
        <li><a href="/exercises/01">01</a></li>
        <li><a href="/exercises/02">02</a></li>
        <li><a href="/exercises/03">03</a></li>
        <li><a href="/exercises/04">04</a></li>
        <li><a href="/exercises/05">05</a></li>
        <li><a href="/exercises/06">06</a></li>
        </ul>
      </li>
      <li>
        Resources
        <ul>
          <li><a href="/resources/sitemap/">Sitemap</a></li>
          <li><a href="/resources/wireframes/">Wireframes</a></li>
          <li><a href="/resources/images-icons/">Stock Images and Icons</a></li>
          <li><a href="/resources/web-fonts/">Web Fonts</a></li>
        </ul>
      </li>
      <li>Tutorials
        <ul>
          <li><a href="/tutorials/navigation/">Navigation</a></li>
          <li><a href="/tutorials/responsive-navigation/">Responsive Navigation</a></li>
        </ul>
      </li>
      <li>Lessons</li>
    </ul>
  </div>
</nav>
<style>
  #primary-nav {
    transition: var(--transition);
    top: var(--headerHeight);
    width: 300px;
    background-color: var(--lightGray);
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    height: 100%;
    @media (max-width: 767px) {
      width: 0;
    }
  }
  #inner-nav {
    padding: 2em 2em 8em 2em;
  }
</style>
