---
import background from "../assets/background.svg";
---

<div id="container">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <main>
    <section id="hero">
      <a href="https://astro.build"></a>
      <h1>
        To get started, open the <code><pre>src/pages</pre></code> directory in your
        project.
      </h1>
    </section>
  </main>

  <a href="https://astro.build/blog/astro-5/" id="news" class="box">
    <h2>Welcome</h2>
  </a>
</div>