---
const title = "Project 2: Instructional Site (200 points)";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <h3>Description:</h3>
  <p>
    For this project, you will choose a skill or topic that is broken down into
    separate steps and explained over 5-10 web pages. Your topic could be, for
    example, a cooking recipe, folding origami, or performing an oil change on a
    car. Each step should be on a separate page (though if you have more than 10
    steps you can group them on separate pages).
  </p>
  <p>
    Your finished project should contain an intuitive navigation with links to
    original illustrations or photography to help convey each step.
  </p>
  <h2>Process:</h2>
  <strong>Research</strong>
  <ol>
    <li>
      Find and critique three similar (3) websites that explain a skill. Submit
      your critiques on D2L.
    </li>
  </ol>
  <strong>Design</strong>
  <ol>
    <li>
      Create a sitemap in FigJam outlining the pages of your site. Here's an
      example of a
      <a href="https://richhauck.com/art140/resources/sitemap/">site map</a>
    </li>
    <li>
      Create a wireframe in Figma of your interface. Your wireframes should
      include frames for both desktop and mobile.
    </li>
    <li>Establish a color palette of at least 5 colors</li>
    <li>
      Photograph, illustrate, or find Creative Commons-licensed images to
      incorporate into your design
    </li>
    <li>
      Design your site in Figma and link on D2L. The designs should include both
      desktop and mobile layouts.
    </li>
  </ol>
  <strong>Development</strong>
  <ol>
    <li>
      SEO-friendly formatting (titles, page names, etc.) should be implemented
    </li>
    <li>Pages should use sticky navigation to indicate the current page</li>
    <li>Pages should be responsive and support a minimum of 320px</li>
    <li>
      Your finished project should be published to Github pages and linked on
      D2L
    </li>
  </ol>

  <h2>Deadlines and Grading Criteria:</h2>
  <table>
    <tr>
      <td>
        <br />
        <strong>Description</strong>
      </td>
      <td>
        <p><strong>Due Date</strong></p>
      </td>
      <td>
        <p><strong>Points</strong></p>
      </td>
    </tr>
    <tr>
      <td><p>Research</p></td>
      <td><p>9/29</p></td>
      <td><p>10</p></td>
    </tr>
    <tr>
      <td><p>Sitemap</p></td>
      <td><p>9/29</p></td>
      <td><p>20</p></td>
    </tr>
    <tr>
      <td><p>Wireframe</p></td>
      <td><p>10/1</p></td>
      <td><p>20</p></td>
    </tr>
    <tr>
      <td><p>Visual Design</p></td>
      <td><p>10/8</p></td>
      <td><p>75</p></td>
    </tr>
    <tr>
      <td><p>In-progress HTML template</p></td>
      <td><p>10/13</p></td>
      <td><p>-</p></td>
    </tr>
    <tr>
      <td><p>Final site published to GitHub</p></td>
      <td><p>10/20</p></td>
      <td><p>75</p></td>
    </tr>
  </table>
</Layout>
