---
const title = "Project 1: Central PA Tourism Page (180 points)";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <h3>Project Description:</h3>
  <p>
    Working with a design you create in Figma, you will build a single HTML page
    promoting the attractions and sites around Central Pennsylvania. You can use
    the copy here: <a
      href={`${import.meta.env.BASE_URL}assets/project-1-content.pdf`}
      target="_blank"
      >https://richhauck.com/art140/assets/project-1-content.pdf</a
    >. You will be responsible for establishing the color palette, images,
    branding, and identity for the page.
  </p>
  <p>
    Your finished HTML page will feature 6-10 locations with accompanying
    images, brief descriptions, and links to external sites providing more
    information.<br />
    To drive your design decisions, you will perform some initial research. The final
    design should be published online via Github pages.
  </p>
  <h2>Process:</h2>
  <strong>Research</strong>
  <ol type="a">
    <li>Generate three fictional personas (delivered in a single PDF).</li>
    <li>
      Visit similar tourism and vacation websites and generate opinions about
      their designs and how yours could exceed theirs.
    </li>
  </ol>
  <strong>Design</strong>
  <ol type="a">
    <li>
      Create a wireframe in Figma outlining the hierarchy of your page. No
      colors, photos, or fonts should be defined at this stage.
    </li>
    <li>
      Photograph, illustrate, or find Creative Commons-licensed images to
      incorporate into your design.
    </li>
    <li>Establish a color palette of at least 5 colors</li>
    <li>Design a single desktop page in Figma and link on D2L.<br /></li>
  </ol>
  <strong>Development</strong>
  <ol type="a">
    <li>Your page layout should incorporate at least one multi-column row.</li>
    <li>Your design should use at least one (1) non-system web font.</li>
    <li>Your page should include a favicon and a touch icon.</li>
    <li>
      Your finished project should be published to GitHub pages and linked on
      D2L.
    </li>
  </ol>
  <h2>Deadlines and Grading Criteria:</h2>
  <table>
    <tr>
      <td
        ><br />
        <strong>Description</strong></td
      >
      <td><p><strong>Due Date</strong></p></td>
      <td><p><strong>Points</strong></p></td>
    </tr>
    <tr>
      <td><p>Research</p></td>
      <td><p>8/27</p></td>
      <td><p>20</p></td>
    </tr>
    <tr>
      <td><p>Personas PDF, color palette</p></td>
      <td><p>9/3</p></td>
      <td><p>20</p></td>
    </tr>
    <tr>
      <td><p>Wireframe</p></td>
      <td><p>9/8</p></td>
      <td><p>20</p></td>
    </tr>
    <tr>
      <td><p>Visual Design</p></td>
      <td><p>9/15</p></td>
      <td><p>60</p></td>
    </tr>
    <tr>
      <td><p>In-progress HTML template</p></td>
      <td><p>9/17</p></td>
      <td><p>-</p></td>
    </tr>
    <tr>
      <td><p>Final page published to Github</p></td>
      <td><p>9/24</p></td>
      <td><p>60</p></td>
    </tr>
  </table>
</Layout>
