---
const title = "Projects";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
<h2>Book Promotion Site (220 points)</h2>
<h3>Project Description:</h3>
<p>
  For this assignment, you will be promoting Lewis Carroll's “Alice in
  Wonderland” and promoting it through a microsite with a maximum of five (5)
  pages. You can use this content:
  <a href={ "/assets/project-3-content.pdf" }>project-3-content.pdf</a> or come up with your
  own material. As you are designing, bear in mind that while the text may no
  longer be protected by copyright, the artwork of the book cover may not be
  included.
</p>
<h3>Process:</h3>
<ol>
  <li><strong>Research</strong></li>
  <ol type="a">
    <li>
      Find and critique three similar (3) websites that promote a book (you may
      have to visit author or publisher sites). Submit your critiques on D2L.
    </li>
    <li>
      Consider famous quotes to pull from the book, reviews to cite, and/or a
      bio on the author
    </li>
  </ul>
  <li><strong>Design</strong>
    <p>Your design should be responsive, so it should include examples of desktop, mobile, and tablet (if necessary). All pages should be represented in your Figma at either desktop or mobile (but not necessarily both!). Don't waste time on redundancies, but make sure any UI elements you create are properly represented in all frames. At a minimum, include a homepage and an example of navigation at mobile for wireframes and visual designs.</p>
  </li>
  <ol type="a">
    <li>Create a <a href="http://richhauck.com/art140/resources/sitemap/">sitemap</a> in FigJam outlining the pages of your site</li>
    <li>Create a wireframe in Figma of your interface for both desktop and mobile</li>
    <li>Site should be responsive--design for both desktop and mobile</li>
    <li>Your design should include a functioning Figma prototype and a <a href="https://help.figma.com/hc/en-us/articles/360038511413-Set-custom-thumbnails-for-files">Figma thumbnail</a></li>
    <li>Consider creating a book cover design for your title (but don't let it compromise time on your site design!)</li>
    <li>Establish a color palette of at least 5 colors</li>
    <li>Design your site in Figma and link on D2L</li>
  </ul>
  <li>
    <strong>Development</strong>
    <ol type="a">
      <li>
        Your responsive design should not use a framework (Bootstrap, Tailwind,
        etc.)
      </li>
      <li>
        Your finished project should be published to Github pages and linked on
        D2L
      </li>
      <li>Your site should include responsive navigation</li>
      <li>Your site should include a bookmark icon</li>
    </ul>
  </li>
</ol>

<p>Deadlines and Grading Criteria:</p>
<table>
  <tr>
    <td><strong>Description</strong></td>
    <td>
      <p><strong>Due Date</strong></p>
    </td>
    <td>
      <p><strong>Points</strong></p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Research</p>
    </td>
    <td>
      <p>10/23</p>
    </td>
    <td>
      <p>20</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Sitemap</p>
    </td>
    <td>
      <p>10/23</p>
    </td>
    <td>
      <p>20</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Wireframe</p>
    </td>
    <td>
      <p>10/28</p>
    </td>
    <td>
      <p>20</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Visual Design</p>
    </td>
    <td>
      <p>11/4</p>
    </td>
    <td>
      <p>80</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>In-progress HTML template</p>
    </td>
    <td>
      <p>11/6</p>
    </td>
    <td>
      <p>-</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Final site published to Github</p>
    </td>
    <td>
      <p>11/13</p>
    </td>
    <td>
      <p>80</p>
    </td>
  </tr>
</table>

</Layout>
