---
const title = "Project 3: Small Business Website (220 points)";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <h3>Project Description:</h3>
  <p>
    <p>
      For this project, you are to create a small business website for “Brews &
      Bonds” coffee shop (Don't like the name? Propose a new one!).
    </p>
    <p>
      You can use the content here: <a href="/assets/project-4-content.pdf"
        >project-4-content.pdf</a
      >.
    </p>
  </p>
  <h3>Process:</h3>
  <ol>
    <li><strong>Research</strong></li>
    <ol type="a">
      <li>
        Find and critique three similar websites. Submit your critiques on D2L.
      </li>
    </ol>
    <li>
      <strong>Design</strong>

      <ol type="a">
        <li>
          Create a <a href="http://richhauck.com/art140/resources/sitemap/"
            >sitemap</a
          > in FigJam outlining the pages of your site
        </li>
        <li>
          Create a wireframe in Figma of your interface for both desktop and
          mobile
        </li>
        <li>Site should be responsive--design for both desktop and mobile</li>
        <li>
          Your design should include a functioning Figma prototype and a <a
            href="https://help.figma.com/hc/en-us/articles/360038511413-Set-custom-thumbnails-for-files"
            >Figma thumbnail</a
          >
        </li>
        <li>Establish a color palette of at least 5 colors</li>
        <li>Design your site in Figma and link on D2L</li>
      </ol>
      <li>
        <strong>Development</strong>
        <ol type="a">
          <li>
            Your responsive design should not use a framework (Bootstrap,
            Tailwind, etc.)
          </li>
          <li>
            Your finished project should be published to Github pages and linked
            on D2L
          </li>
          <li>Your site should include responsive navigation</li>
          <li>Your site should include a bookmark icon</li>
        </ol>
      </li>
    </li>

    <p>Deadlines and Grading Criteria:</p>
    <table>
      <tr>
        <td><strong>Description</strong></td>
        <td>
          <p><strong>Due Date</strong></p>
        </td>
        <td>
          <p><strong>Points</strong></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Research</p>
        </td>
        <td>
          <p>10/23</p>
        </td>
        <td>
          <p>20</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Sitemap</p>
        </td>
        <td>
          <p>10/23</p>
        </td>
        <td>
          <p>20</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Wireframe</p>
        </td>
        <td>
          <p>10/28</p>
        </td>
        <td>
          <p>20</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Visual Design</p>
        </td>
        <td>
          <p>11/4</p>
        </td>
        <td>
          <p>80</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>In-progress HTML template</p>
        </td>
        <td>
          <p>11/6</p>
        </td>
        <td>
          <p>-</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Final site published to Github</p>
        </td>
        <td>
          <p>11/13</p>
        </td>
        <td>
          <p>80</p>
        </td>
      </tr>
    </table>
  </ol>
</Layout>
