---
const title = "Project 4: Museum Website (240 points)";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <h2>Project Description:</h2>
  <p>
    For your final project, you will be creating a website for a small art
    museum. create a small business website for. You can use the content here: <a
      href={"/assets/project-4-content.pdf"}>project-4-content.pdf</a
    >. This project should exhibit the skills you have developed in this class.
  </p>
  <h2>Process:</h2>

  <strong>Research</strong>
  <ol>
    <li>
      Find and critique three similar (3) websites. Submit your critiques on
      D2L. You might want to review both large museum sites (the MET, MoMA, The
      Louvre, etc.) as well as smaller local museums.
    </li>
  </ol>
  <strong>Design</strong>
  <ol>
    <li>Create a sitemap in FigJam outlining the pages of your site</li>
    <li>Create a wireframe in Figma of your interface</li>
    <li>
      Photograph, illustrate, or find Creative Commons-licensed images to
      incorporate into your design.
    </li>
    <li>
      Establish a brand color palette of at least 5 colors and use these in an
      SVG logo
    </li>
    <li>Design your site in Figma responsively and link on D2L<br /></li>
  </ol>
  <strong>Development</strong>
  <ol start="3" type="1">
    <ol start="1" type="a">
      <li>
        Your finished project should be responsive and published to GitHub pages
        and linked on D2L
      </li>
    </ol>
  </ol>
  <h2>Deadlines and Grading Criteria:</h2>
  <table>
    <tr>
      <td>
        <br />
        <strong>Description</strong>
      </td>
      <td>
        <p><strong>Due Date</strong></p>
      </td>
      <td>
        <p><strong>Points</strong></p>
      </td>
    </tr>
    <tr>
      <td><p>Research</p></td>
      <td><p>11/12</p></td>
      <td><p>20</p></td>
    </tr>
    <tr>
      <td><p>Sitemap</p></td>
      <td><p>11/12</p></td>
      <td><p>20</p></td>
    </tr>
    <tr>
      <td><p>Wireframe</p></td>
      <td><p>11/17</p></td>
      <td><p>20</p></td>
    </tr>
    <tr>
      <td><p>Visual Design</p></td>
      <td><p>11/24</p></td>
      <td><p>80</p></td>
    </tr>
    <tr>
      <td><p>In-progress HTML template</p></td>
      <td><p>12/3</p></td>
      <td><p>-</p></td>
    </tr>
    <tr>
      <td><p>Development - final site published to GitHub</p></td>
      <td><p>TBD</p></td>
      <td><p>100</p></td>
    </tr>
  </table>
</Layout>
