---
const title = "Projects";
import Layout from "../../layouts/Layout.astro";
---

<Layout title={title}>
  <ol>
    <li>
      <a href="/projects/project-1/">Central PA tourism page (180 points)</a>
    </li>
    <li><a href="/projects/project-2/">Instructional site (200 points)</a></li>
    <li><a href="/projects/project-3/">Book promotion site (220 points)</a></li>
    <li>
      <a href="/projects/project-4/">Small Coffee Shop site (240 points)</a>
    </li>
  </ol>
</Layout>
