---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.scss";
import "../styles/hamburger.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <script is:inline src="/scripts/main.js"></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Art 140 Web Design</title>
  </head>
  <body>
    <button id="toggle-nav" class="hamburger hamburger--squeeze" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <header id="primary-header">
      <div>
        <h1>Art 140: <span>Web Design</span></h1><p>
          Fall 2025 | Harrisburg Area Community College
        </p>
      </div>
      <div>
        Instructor:
        <a href="mailto:rdhauck@hacc.edu">Rich Hauck</a>, MPS
      </div>
    </header>
    <main id="main">
      <Navigation />
      <div id="content">
        <div id="inner-content">
          <h1>{title}</h1>
          <slot />
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  #toggle-nav {
    transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--bgcolor);
    position: fixed;
    bottom: 1em;
    left: 1em;
    display: none;
    z-index: 100;
  }
  #toggle-nav:hover {
    background-color: var(--blue);
  }
  @media (max-width: 767px) {
    #toggle-nav {
      display: block;
    }
  }
  #primary-header {
    background-color: var(--red);
    z-index: 100;
    color: #fff;
    padding: 1.8em 2em 2em 2em;
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
  }
  @media (max-width: 1024px) {
    #primary-header {
      padding: 1em;
      flex-direction: column;
    }
  }
  #primary-header #title {
    display: flex;
    flex-direction: column;
  }
  #primary-header h1 {
    color: #fff;
    margin: 0;
    font-size: 2em;
    line-height: 1.1em;
    letter-spacing: 2px;
  }
  #primary-header a {
    color: #fff;
  }
  #primary-header span {
    color: var(--lightRed);
  }
  #primary-header p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 11px;
  }
  #primary-header #meta {
    padding-right: 0.5em;
    display: flex;
    align-items: center;
  }
  #primary-header #meta a:link,
  #primary-header #meta a:visited {
    color: #fff;
  }
  #primary-header #meta a:hover {
    color: a176Red;
  }

  #main {
    overflow: hidden;
  }
  #content {
    margin: var(--headerHeight) 0 0 320px;
  }
  #content ol {
    padding: 1em !important;
    list-style: decimal;
  }
  #content ul {
    padding: 1em !important;
    list-style: square;
  }
  #content li {
    padding: 0 0.5em;
  }
  @media (max-width: 767px) {
    #content {
      margin: var(--headerHeight) 0 0 0;
    }
  }
  #inner-content {
    padding: 1em;
    width: 65%;
    background-color: var(--primary);
  }
  @media (max-width: 1024px) {
    #inner-content {
      width: 100%;
    }
  }
</style>
